DATABASE_URL="postgresql://postgres:postgres@localhost:5432/luzazul"
JWT_SECRET="bVgV4WBoxj93MPTk5QCKgaLyhUVZ1sueSXBmfof26xt"
JWT_REFRESH_SECRET="WPW6Mw9TS5RFSiyg9Wfjg5q1cePEvm23AoOKTak5RyJ"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
